name: ci

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  pylint:
    uses: coatl-dev/workflows/.github/workflows/pylint.yml@v6
    with:
      path: src

  tox:
    if: ${{ github.event_name == 'pull_request' }}
    uses: ./.github/workflows/tox.yml
